/*+=======================+
[ MAIN PAGE ]
+=======================+*/

/* :: [ Variables ] :: */

@font-face {
    font-family: 'Josefin Sans';
    src: url('/assets/fonts/JosefinSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {

    /* [ Body Colors ] */

    --main-color: #AF3E3E;
    --main-body-color: #CD5656;
    
    --main-title-color: #ec6f50;

    --main-text-color: #EDF2F4;
    --main-shadow-color: #923b3b;
}

* {
    margin: 0;
    font-size: 12pt;
}

/* :: [ Main Body ] ::*/

/* { Header } */

#header-section {
    height: 150px;
    text-align: center;
    background-color: var(--main-color);
}

#header-section h1 {
    padding: 40px;
    font-size: 6rem;
}

body {

    /* [ Font and Background Colors ] */

    color: var(--main-text-color);
    background-color: var(--main-body-color);

    /* [ Font ] */

    font-family: 'Josefin Sans', sans-serif;
}

/* { Nav Bar } */

.navbar {
    margin-top: 20px;
    width: 100%;

    text-align: center;
    

    border-collapse: collapse;
    table-layout: fixed;
}

.navbar td {
    position: relative;
    top: 3px;
    color: rgb(255, 255, 255);

    padding: 8px;

    border-bottom: 4px solid transparent;
    transition: border-color 0.5s ease;
}

.navbar a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar td:hover {
    border-bottom: 4px solid white;
}

.button-link {
    width: 100%;
    border: 0px solid white;
}

.button-link a:hover hr {
    display: block;
}

/* { Text Box } */

.text-box {
    max-width: 40%;
    height: 15%;

    margin-left: 3%;
    margin-top: 150px;

    border: 12px solid var(--main-color);
    box-shadow: 20px 24px 0px var(--main-shadow-color);
}

.text-box h2 {
    font-size: 3rem;
    padding: 30px;
}

.text-box hr {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 3px solid var(--main-color);
}

.text-box p {
    padding: 25px;
    padding-top: 10px;
    font-size: 2em;
}

#experience {
    margin-left: 55%;
}

/* { Footer } */

#footer-section {/* { Font Configuration }  */
    text-align: center;
    padding: 80px;
    font-size: 1.2rem;
    color: var(--main-font-color);
}