/*+=======================+
[ MAIN PAGE ]
+=======================+*/

/* :: [ Variables ] :: */

:root {

    /* [ Body ] */

    --main-title-color: #8D99AE;

    --main-text-color: #EDF2F4;
    --main-background-color: #72131f;
    --main-border-color: #EF233C;
    
    --main-navbar-color: #8D99AE;
    --main-box-color: #1D3557;
    --main-box-shadow-color: #D90429;

    --main-border-radius: 80%;
    --main-image-size: 450px;

    /* [ Text Box ]*/

    --text-box-border-color: solid rgb(255, 115, 0);
    --text-box-hr-size: 2px;

}

/* :: [ Main Body ] ::*/

/* { Header } */

#main-title {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
}

#main-title {
    max-width: 400px;
    text-align: center;
    line-height: 1.2em;
    padding-top: 10px;

    color: var(--main-text-color);
    border: 4px solid var(--main-border-color);
    background-color: var(--main-title-color);
}

.main-header hr {
    border: solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

/* { Nav Bar } */

.navbar {
    margin-top: 20px;

    border: 4px solid var(--main-border-color);
    background-color: var(--main-navbar-color);
    width: 100%;
    border-collapse: collapse;

    table-layout: fixed;
}

.navbar td {
    position: relative;
    top: 3px;
    text-align: center;
    font-size: 1.4em;
    color: rgb(255, 255, 255);

    padding: 8px;
    border: 4px solid var(--main-border-color);
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* { Text Box } */

.text-box {
    color: var(--main-text-color);
    text-align: center;
    font-size: 1.5em;
    max-width: 600px;
    line-height: 1.2;

    border: 4px solid var(--main-border-color);
    background-color: var(--main-box-color);
    box-shadow: 20px 20px 0px var(--main-box-shadow-color);
}

.text-box hr {
    margin-top: -28px;
    border: 2px solid var(--main-border-color);
}

.text-box h2 {
    color: var(--main-text-color);
    margin-top: 10px;
}

/* { Body Elements } */

.main-image {
    width: var(--main-image-size);
    height: var(--main-image-size);

    border: solid var(--main-theme-color);
}

#bio {
    margin: 0 auto;
    margin-top: 100px;
}

#bio-image {
    float: right;

    margin-top: 150px;
    margin-right: 150px;
}

#skills {
    margin: 0 auto;
    margin-top: 150px;
}

#skills-image {
    float: left;

    margin-top: 250px;
    margin-left: 150px;
}

#experience {
    margin: 0 auto; 
    margin-top: 150px;
}

/* { Footer } */
.main-footer hr {
    margin-top: 50px;

    border: solid var(--main-border-color);
    border-radius: var(--main-border-radius);
}

/* { Font Configuration }  */

@font-face {
    font-family: 'Josefin Sans';
    src: url('/assets/fonts/JosefinSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* [ Font and Background Colors ] */
    color: black;
    background-color: var(--main-background-color);

    /* [ Font ] */
    font-family: 'Josefin Sans', sans-serif;
}