@font-face {
    font-family: 'MEKTON';
    src: url('/assets/fonts/MEKTON.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* [ Font and Background Colors ] */
    color: white;
    background-color: black;

    /* [ Font ] */
    font-family: 'MEKTON', sans-serif;

}